@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

.navbar {
    margin-top: 20px;
}

.navbar ul a {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}

.navbar ul a:hover {
    text-decoration: underline !important;
    background-color: transparent !important;
    color: white;
}

.home {
    background-size: 100% !important;
    background: #232323 url(../images/background.png) no-repeat;
}

#logo_home {

    width: 54.47%;
    margin-right: -50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);  /* Chrome, Safari, Opera */
    -ms-transform: translate(-50%, -50%);		/* IE 9 */
}
h1 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif ;
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
}
h2 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif ;
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
}

h4 {
    color: white;
}

p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h3 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.header {
    background-color: white;
}

.header ul li a {
    color: #575757!important;
}

.home {
    background: #232323 none;
}

.logo-small {
    color: #007eff;
    font-size: 50px;
}

.onder {
    margin-bottom: 40px;
}


/* Style voor status pagina */
.deel {
   color: white;
}

.white {
    color: white;
}

.deel .progress {
    background-color: #9d9d9d;
}