.header {
    background-color: white;
}

.header ul li a {
    color: #575757;
}

#achtergrond 	{

    width: 100%;
    height: 57%;
    margin: 0px auto 0px auto;
}

#nav2 {

    position: fixed;
    left: 30px;
    top: 140px;
    background-color: #232323;
    z-index: 1;
}
ul {
    list-style-type: none;
}
#nav2 ul li {

    margin: 10px;
}
#nav2 ul li a {

    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
}
#nav2 ul li a:hover {

    text-decoration: underline;
    color: #007eff;
}

#achtergrond img 	{
    margin: 0;
    width: 100%;
}

.home {
    background-color: white;
    background-image: none;
}

#pagina1 {
    width: 100%;
    height: 760px;
}

#pagina2 {
    width: 100%;
    height: 760px;
    background-color: #232323;
}

#pagina3 {
    width: 100%;
    height: 760px;
    background-color: white;
}

#pagina4 {
    width: 100%;
    height: 760px;
    background-color: #232323;
}

#pagina5 {
    width: 100%;
    height: 760px;
    background-color: white;
}

#pagina6 {
    width: 100%;
    height: 760px;
    background-color: #232323;
}

huidig {

    text-decoration: underline !important;
    color: #007eff !important;
}

.grijs {

    color: white !important;
    font-family: 'Quicksand', sans-serif;
}

.wit {

    color: #232323 !important;
    font-family: 'Quicksand', sans-serif;
}

.pagina .inhoud {

    position: absolute;
    right: 0px;
    width: 400px;
    z-index: 1;

}

.pagina h1 {

    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 25px;
}

.pagina ul{

    margin-top: 10px;
    margin-bottom: 20px;
}

.pagina img {
    /*width: 800px;*/
    /*width: 70%;*/
    height: 90%;
    max-height: 660px;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 0;
    position: absolute;
}






