@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

.header nav ul a {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}

.header nav ul a:hover {
    text-decoration: underline!important;
    background-color: transparent!important;
    color: white;
}

.home {
    background-color: #232323;
    background-image: url(../images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#logo_home {

    width: 54.47%;
    margin-right: -50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);  /* Chrome, Safari, Opera */
    -ms-transform: translate(-50%, -50%);		/* IE 9 */
}