#contact .header {
    background-color: white;
}

#contact .header ul li a {
    color: #575757!important;
}


#contact {
    background: white none;
}

#contact .contact img 	{
    width: 300px;
    margin-top: 20px;
}

#contact #formulier 	{
    float: left;
    margin-left: 20px;
    margin-top: 37px;
}

#contact #formulier span 	{
    color: red;
}

#contact #errorN,#errorE,#errorV 	{
    display: none;
    font-size: smaller;
}

#contact #formulier p 	{
    font-size: smaller;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
}

#contact .knoppen 	{
    background-color: #575757;
    padding:5px 10px 5px 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    border: 0 solid black;
}

#contact #vraag 	{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 12px;
    height: 90px;
    resize: none;
}

#contact .knoppen:hover 	{
    background-color: white;
    color: #575757;
}