h1 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif ;
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
}
h2 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif ;
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
}

h4 {
    color: white;
}

p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h3 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.header {
    background-color: white;
}

.header ul li a {
    color: #575757!important;
}

.home {
    background: #232323 none;
}

.logo-small {
    color: #007eff;
    font-size: 50px;
}

.onder {
    margin-bottom: 40px;
}


/* Style voor status pagina */
.deel {
   color: white;
}

.white {
    color: white;
}

.deel .progress {
    background-color: #9d9d9d;
}