#over h1 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif ;
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
}
#over h2 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif ;
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
}

#over h4 {
    color: white;
}

#over p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#over h3 {
    color:#007eff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

#over .header {
    background-color: white;
}

#over .header ul li a {
    color: #575757!important;
}

#over {
    background: #232323 none;   
}

#over .logo-small {
    color: #007eff;
    font-size: 50px;
}

#over .onder {
    margin-bottom: 40px;
}


/* Style voor status pagina */
.deel {
   color: white;
}

.white {
    color: white;
}

.deel .progress {
    background-color: #9d9d9d;
}