#projecten .header {
    background-color: white;
}

#projecten .header ul li a {
    color: #575757!important;
}

#projecten {
    background: #232323 none;
}

#projecten .top {
    margin-top: 30px;
}

#projecten h1 {
    color: white;
}

#projecten p {
    color: white;
}

#projecten ul {
    color: white;
    list-style-type: none;
}

#projecten .inhoud img {
    margin-top: 20px;
}

#projecten .inhoud .row {
    margin-bottom: 30px;
}